*{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width:1440px;
    height: 669px;
    text-align: center;
    background-image: url("../bulbul-donate-today/images/donation0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
 
    
}
.header .header-content{
   padding-top:250px; 
   color:white;
   
}
.primary-button {
    padding:10px 15px;
    background-color:orangered;
    margin-top:30px;
}
img {
    
    width: 1000px;
    height: 450px;

}
.donate-today {
    width:1440px;
    height: 509px;
    text-align: center;
    color:black;
    background-color: aliceblue;
    padding-top: 50px;
  
   }
.donate-today p{
    text-align:center;
    width:400px;
    }

li {
    display:inline-flex;
    padding: 35px;
    background-color: rgb(110, 81, 81);
    font-size: 2em;
    margin-top:20px;
    }
    .donate-today p.Amount{
        margin-top:50px;
    }
    hr {
        width: 450px;
        margin-left:500px;
        margin-top:10px;

    }
.donate-plan {
    width:1440px;
    height: 509px;
    text-align: center;
    color:black;
    background-color: rgb(235, 239, 243);
    padding-top: 50px;
   
}
.food, .shelter, .Education {
    display:inline-block; 
    width:300px;
    height: 200px;
    padding: 20px; 
    margin-top:50px;
}

.food {
    background-color: rgb(109, 131, 228);
    padding-top: 50px;
 }
.shelter {
    background-color: rgb(126, 163, 65);
    padding-top: 50px;
}
.Education {
    background-color: rgb(150, 94, 49);
    padding-top: 50px;
}
.contribute {
    width:1440px;
    height: 600px;
    text-align: left;
    background-color: rgb(223, 223, 223);
    margin:auto;
    }
    .contribute2 {
        width:1440px;
        height: 600px;
        text-align: left;
        background-color: rgb(107, 84, 84);
        margin:auto;
        padding-top: 50px;
        }
.left-contribute, .right-contribute {
    display: inline-block;
    width: 600px;
    padding-left: 100px;
 
}
.right-contribute {
    margin-top: 50px;
}
.img-contribute {
    width: 400px;
    height: 300px;
}
.my-updates{
    width:1440px;
    height: 669px;
    text-align: center; 
    background-color: antiquewhite;
}